__pycache__/
brisket/models/grids/*.fits
brisket/models/grids/*.txt
*.egg-info/
brisket/__pycache__/
brisket/filters/__pycache__/
brisket/fitting/__pycache__/
brisket/input/__pycache__/
brisket/models/__pycache__/
brisket/models/making/__pycache__/
brisket/.DS_Store
.DS_Store
brisket/_archive
brisket/_archive/*
brisket/data/*.fits
brisket/data/*.hdf5
brisket/data/raw_data
brisket/data/raw_data/*